@CHARSET "UTF-8";
@charset "UTF-8";
/* CSS Document */
/* line 3, ../sass/comm.scss */
html, body, div, span, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.428571429;
    font-family: "Microsoft YaHei",微软雅黑,"Hiragino Sans GB",冬青黑体简体中文,SimSun,宋体;
}

/* line 12, ../sass/comm.scss */
input, button, textarea {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

/* line 13, ../sass/comm.scss */
:focus {
    outline: 0;
}

/* line 14, ../sass/comm.scss */
body {
    color: #252525;
    background: #fff;
    font-size: 14px;
}

/* line 15, ../sass/comm.scss */
html, body {
    width: 100%;
    height: 100%;
}

/*a class*/
/* line 17, ../sass/comm.scss */
.a {
    text-decoration: none;
    cursor: pointer;
    color: #252525;
}

/* line 18, ../sass/comm.scss */
.a:active {
    outline: none;
}

/* line 19, ../sass/comm.scss */
.a:hover {
    text-decoration: none;
}

/*ul class*/
/* line 21, ../sass/comm.scss */
.ul {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

/* line 22, ../sass/comm.scss */
.ul li {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}

/* line 24, ../sass/comm.scss */
.clear {
    clear: both;
    height: 1px;
    visibility: hidden;
    line-height: 1px;
    overflow: hidden;
}

/* line 25, ../sass/comm.scss */
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* line 26, ../sass/comm.scss */
.clearfix {
    display: inline-block;
}

/* line 27, ../sass/comm.scss */
.hide {
    display: none;
}

/* line 28, ../sass/comm.scss */
.show {
    display: block;
}

/*position*/
/* line 31, ../sass/comm.scss */
.left {
    float: left;
}

/* line 32, ../sass/comm.scss */
.right {
    float: right;
}
